.sitesection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.affectedsitesdiv {
  display: flex;
  align-items: center;
}
.sitebtn {
  margin: 0 10px;
}
.sitesaaffectedlist {
  background-color: rgb(207, 223, 238);
  padding: 10px;
  margin: 10px 0;
}
.siteparagraph {
  display: flex;
  justify-content: space-between;
}
.switch-off-radio {
  display: flex;
  /* background-color: red; */
}

.radio-label {
  margin-right: 10px;
}

.sitecontainer {
  background-color: azure;
  padding: 20px;
  margin: 10px 0;
  border: 1px solid black;
}
.sitebtndiv {
  margin-top: 10px;
}
